
 .jgdad-moved-item {
     position:  absolute;
     z-index:   99999;
     display:   block;
     background-color:  white;
     opacity:   0.7;
     box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
 }

 .jgdad-noselect {
     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                supported by Chrome and Opera */
 }

 .jgdad-body-cursor-active {
     cursor:move;
 }

.jgdad-drop-here {
    background-image:   url("drop-here.png");
    background-repeat:  no-repeat;
    background-position:    center center;
}



/* OWN STYLE - BEGIN */

 .tableclass {
     width:  100%;
 }

 .tableclass td {
     padding:  5px;
     width:    25%;
     text-align: center;
     border: 1px grey solid;
 }

 .tableclass td.jqdad-empty-ceil {
     border: 1px transparent solid;
 }